@charset "utf-8";


/********************************************/
/****************  폰트 CSS  ****************/

/* 영문서체 */

@font-face {
    font-family:"arial";
    src:local("arial"), url("./fontmake/arial.eot") format("embedded-opentype"), url("./fontmake/arial.woff") format("woff");
}
@font-face {
    font-family:"arialbd";
    src:local("arialbd"), url("./fontmake/arialbd.eot") format("embedded-opentype"), url("./fontmake/arialbd.woff") format("woff");
}
@font-face {
    font-family:"arialbi";
    src:local("arialbi"), url("./fontmake/arialbi.eot") format("embedded-opentype"), url("./fontmake/arialbi.woff") format("woff");
}
@font-face {
    font-family:"ariali";
    src:local("ariali"), url("./fontmake/ariali.eot") format("embedded-opentype"), url("./fontmake/ariali.woff") format("woff");
}



/* 국문서체 */

@font-face {
    font-family:"NanumSquareR";
    src:local("NanumSquareR"),
        url("./fontmake/NanumSquareR.eot") format("embedded-opentype"),
        url("./fontmake/NanumSquareR.woff") format("woff");
}
@font-face {
    font-family:"NanumSquareEB";
    src:local("NanumSquareEB"),
        url("./fontmake/NanumSquareEB.eot") format("embedded-opentype"),
        url("./fontmake/NanumSquareEB.woff") format("woff");
}
@font-face {
    font-family:"NanumSquareL";
    src:local("NanumSquareL"),
        url("./fontmake/NanumSquareL.eot") format("embedded-opentype"),
        url("./fontmake/NanumSquareL.woff") format("woff");
}
@font-face {
    font-family:"NanumSquarB";
    src:local("NanumSquarB"),
        url("./fontmake/NanumSquarB.eot") format("embedded-opentype"),
        url("./fontmake/NanumSquarB.woff") format("woff");
}



/* 클래스 지정 - 영문 */
.en {
    font-family: "arial";
}
.en_b {
    font-family: "arialbd";
}
.en_bi {
    font-family: "arialbi";
}
.en_i {
    font-family: "ariali";
}


/* 클래스 지정 - 국문 */
.ko_l {
    font-family: "NanumSquareL";
}
.ko_r {
    font-family: "NanumSquareR";
}
.ko_b {
    font-family: "NanumSquareB";
}
.ko_eb {
    font-family: "NanumSquareEB";
}



/****************  폰트 CSS 끝  **************/
/********************************************/