@charset "utf-8";

/**********************************************/
/*   공통서식   */


.wrap {
    width: 100%;
    height: 100%;
}
.scene {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.scene_inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1.66rem;
    box-sizing: border-box;
    position: relative;
}
.inner {
    width: 100%;
    height: 100%;
    position: relative;
}


/*   공통서식 끝  */
/**********************************************/