@charset "utf-8";



/*********************************************/
/*  footer css  */


#ft {
    width: 100%;
    height: 18.55rem;
    background-color: #fff;
}
#ft .scene_inner {
    width: 79.33rem;
    padding-top: 5rem;
    box-sizing: border-box;
    position: relative;
}
#ft .logo_ft {
    width: 100%;
    height: 1.66rem;
    text-align: center;
}
#ft .logo_ft a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("../images/logo_grey.png");
    background-repeat: no-repeat;
    background-size: auto 1.66rem;
    background-position: center center;
}
#ft .ftLinkSec {
    width: 100%;
    height: 4.44rem;
    padding-top: 2.11rem;
    box-sizing: border-box;
}
#ft .ftLinkSec ul {
    width: 21.55rem;
    height: 100%;
    margin: 0 auto;
}
#ft .ftLink {
    width: auto;
    height: 100%;
    float: left;
    margin-left: 1.11rem;
}
#ft .ftLink:nth-child(1) {
    margin-left: 0;
}
#ft .ftLink a {
    display: block;
    width: auto;
    height: 100%;
    text-align: center;
    font-size: 0.88rem;
    color: #a1a1a1;
}
#ft .ftLink a:hover {
    font-weight: bold;
}
#ft .ftInfoSec, #ft .copyright {
    width: 100%;
    height: auto;
    line-height: 1.55rem;
}
#ft .ftInfoSec p, #ft .copyright p {
    width: 100%;
    height: auto;
    line-height: 1.55rem;
    font-size: 0.88rem;
    color: #a1a1a1;
    text-align: center;
}


/*  footer css 끝  */
/*********************************************/