@charset "utf-8";



/**************************************************************/
/*  #scene0_1 (태블릿, 모바일용 메뉴)  */

#scene0_1 {
    width: 90%;
    height: 100%;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 600;
    
    /* 미디어쿼리 - block */
    display: none;
}
#scene0_1 .scene_inner {
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
}


/*  #scene0_1 (태블릿, 모바일용 메뉴) 끝  */
/**************************************************************/