@charset "utf-8";


/********************************************/
/****************  공통서식  *****************/


.wrap {
    width: 100%;
    height: 100%;
}
.scene {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    clear: both;
}
.scene_inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    box-sizing: border-box;
}

.sceneTitSec {
    width: 100%;
    padding-top: 8.4rem;
}
.sceneTitSec .sceneTit {
    width: 100%;
    font-size: 3.2rem;
    line-height: 3.4rem;
    text-align: center;
    color: #000;
}
.sceneTitSec .sceneSubTit {
    width: 100%;
    font-size: 1.3rem;
    line-height: 4.2rem;
    text-align: center;
    color: #000;
}
.sceneConSec {
    width: 100%;
    margin-top: 1.6rem;
}

/****************  공통서식 끝  ***************/
/********************************************/