@charset "utf-8";

@font-face {
    font-family:"Montserrat-ExtraLight";
    src:local("Montserrat-ExtraLight"),
        url("./fontmake/Montserrat-ExtraLight.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
    font-family:"Montserrat-Light";
    src:local("Montserrat-Light"),
        url("./fontmake/Montserrat-Light.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-Light.woff") format("woff");
}

@font-face {
    font-family:"Montserrat-SemiBoldItalic";
    src:local("Montserrat-SemiBoldItalic"),
        url("./fontmake/Montserrat-SemiBoldItalic.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family:"Montserrat-Light";
    src:local("Montserrat-Light"),
        url("./fontmake/Montserrat-Light.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-Light.woff") format("woff");
}

@font-face {
    font-family:"Montserrat-ThinItalic";
    src:local("Montserrat-ThinItalic"),
        url("./fontmake/Montserrat-ThinItalic.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-ThinItalic.woff") format("woff");
}

@font-face {
    font-family:"Montserrat-Bold";
    src:local("Montserrat-Bold"),
        url("./fontmake/Montserrat-Bold.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family:"Montserrat-Medium";
    src:local("Montserrat-Medium"),
        url("./fontmake/Montserrat-Medium.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-Medium.woff") format("woff");
}

@font-face {
    font-family:"Montserrat-SemiBold";
    src:local("Montserrat-SemiBold"),
        url("./fontmake/Montserrat-SemiBold.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
    font-family:"Montserrat-ExtraBold";
    src:local("Montserrat-ExtraBold"),
        url("./fontmake/Montserrat-ExtraBold.eot") format("embedded-opentype"),
        url("./fontmake/Montserrat-ExtraBold.woff") format("woff");
}







@font-face {
    font-family:"NanumSquareR";
    src:local("NanumSquareR"),
        url("./fontmake/NanumSquareR.eot") format("embedded-opentype"),
        url("./fontmake/NanumSquareR.woff") format("woff");
}

@font-face {
    font-family:"NanumSquareEB";
    src:local("NanumSquareEB"),
        url("./fontmake/NanumSquareEB.eot") format("embedded-opentype"),
        url("./fontmake/NanumSquareEB.woff") format("woff");
}

@font-face {
    font-family:"NanumSquareL";
    src:local("NanumSquareL"),
        url("./fontmake/NanumSquareL.eot") format("embedded-opentype"),
        url("./fontmake/NanumSquareL.woff") format("woff");
}





.en_el {
    font-family:"Montserrat-ExtraLight";
}
.en_l {
     font-family:"Montserrat-Light";
}
.en_t {
    font-family: "Montserrat-Thin";
}
.en_sbi {
    font-family:"Montserrat-SemiBoldItalic";
}
.en_b {
    font-family:"Montserrat-Bold";
}
.en_ti {
    font-family: "Montserrat-ThinItalic";
}

.en_sb {
    font-family:"Montserrat-SemiBold";
}

.en_m {
    font-family:"Montserrat-Medium";
}

.en_eb {
    font-family:"Montserrat-ExtraBold";
}







.ko_l {
    font-family: "NanumSquareL";
}
.ko_r {
    font-family: "NanumSquareR";
}
.ko_eb {
    font-family: "NanumSquareEB";
}