@charset "utf-8";


/*****************************************************/
/*       scene0 - 픽스영역 css       */
/*****************************************************/



.header {
    position: fixed;
    top: 1.5rem;
    left: calc(calc(100% - 87.5%) / 2 );
    z-index: 100;
    
    width: 87.5%;
    height: 12.5%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
}
.header .logo {
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
}
.header .logo a {
    display: block;
    width: 14.3%;
    height: 50%;
    background-image: url("../images/logo_color.png");
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
}
.header .contactBtn {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header .contactBtn li {
    width: 100%;
    height: 1.9rem;
}
.header .contactBtn .btn {
    height: 100%;
    width: 7.6rem;
    float: right;
    font-size: 1rem;
    text-align: center;
    line-height: 100%;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    position: relative;
    transition-delay: 0.2s;
    transition-duration: 0.4s;
}
.header .contactBtn .btn:before {
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    background-color: #0000cc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}






.gnbBtnSec {
    position: fixed;
    right: 0;
    top: 12.5%;
    z-index: 100;
    
    width: 6.25%;
    height: 62.5%;
    float: right;
    margin-right: 6.25%;
    display: flex;
/*    align-items: center;*/
    flex-direction: column;
    justify-content: space-around;
}
.gnbBtnSec ul {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.gnbBtnSec .navIco {
/*
    width: 50%;
    height: 50%;
*/
    
    width: 2.5rem;
    height: 2.5rem;
    float: right;
}
.gnbBtnSec .btn {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.gnbBtnSec .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: rotate(-45deg);
    margin-top: 0.8rem;
    transition: 0.5s;
    box-shadow: 4px 6px 4px rgba(0, 0, 204, 0.4);
}






.footer {
    
    position: fixed;
    bottom: 1.5rem;
    left: calc(calc(100% - 87.5%) / 2 );
    z-index: 100;
    
    width: 87.5%;
    height: 12.5%;
    clear: both;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.footer .footerSec{
    width: 12.5%;
    height: 50%;
    position: relative;
    display: flex;
    align-items: center;
}
.footer .sldBtnSec ul {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.footer .sldBtnSec .sldBtn {
    height: 0.5rem;
    width: 25%;
    transition: 0.5s;
}
.footer .sldBtnSec .sldBtn button {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #0000cc;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.1s;
}

.scrBtnSec .scrBtn {
    display: block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
.scrBtnSec span {
    display: block;
}
.scrBtnSec .scrTxt {
    width: 100%;
    font-size: 0.5rem;
    text-align: center;
}
.scrBtnSec .line {
    width: 0.6px;
    height: 80%;
    background-color: #000;
    position: absolute;
    bottom: -1.5rem;
    left: calc(calc(100% - 1px) / 2);
}

@keyframes scrBtnLine_ani {
    to {
        height: 0;
    } from {
        height: 90%;
    }
}


.copyrightSec .copyright {
    width: 100%;
    text-align: right;
    font-size: 0.5rem;
    color: #0000cc;
}

.topBtnSec {
    width: 12.5%;
    height: 12.5%;
    right: 1.5rem;
    bottom: 1.5rem;
    position: fixed;
    z-index: 100;
}
.topBtnSec .topBtn {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 40%;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.4s;
}
.topBtnSec .topBtn span {
    display: block;
    text-align: center;
    line-height: 2.5rem;
    transition: 0.4s;
}





/**********************************/
/*       제이쿼리 적용할 부분       */
/**********************************/

/* .footer .sldBtnSec .sldBtn - .addClass "on" */
.footer .sldBtnSec .sldBtn.on {
    width: 50%;
}
.footer .sldBtnSec .sldBtn.on button {
    background-color: #0000cc;
}



.gnbBtnSec #gnbBtn.hvr .line {
    transform: rotate(0deg);
}
.gnbBtnSec .navIco {
    position: relative;
}
.gnbBtnSec #gnbBtn.clk .line {
    position: absolute;
    right: 0;
}
.gnbBtnSec #gnbBtn.clk .line:nth-child(2) {
    width: 0;
    height: 0;
}
.gnbBtnSec #gnbBtn.clk .line:nth-child(1) {
    transform: rotate(45deg);
}



.header .contactBtn .btn.hvr {
    color: #fff;
    background-color: transparent;
    border: 0;
    z-index: 0;
}
.header .contactBtn .btn.hvr:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0000cc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.scrBtnSec.hvr .line {
    transition: 0.4s;
    animation-name: scrBtnLine_ani;
    animation-duration: 0.8s;
}




.topBtnSec .topBtn {
    opacity: 0;
}
.topBtnSec .topBtn.on {
    opacity: 1;
}



.topBtnSec .topBtn.hvr {
    border: 0;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 204, 0.22);
}
.topBtnSec .topBtn.hvr span {
    color: #0000cc;
}


/**********************************/
/*       제이쿼리 적용할 부분 끝     */
/**********************************/


/*****************************************************/
/*       scene0 - 픽스영역 css 끝       */
/*****************************************************/