@charset "utf-8";

 .wrap {
    width: 100%;
    height: 100%;
    background-color: #000;
}
.scene {
    width: 100%;
    clear: both;
    overflow: hidden;
}
.left {
    float: left;
}
.right {
    float: right;
}
span, p, a, button {
    color: #fff;
}


#allBlackBg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 510;
    
    display: none;
}

body.rock {
    overflow: hidden;
}