@charset "utf-8";

/*헤더 영역*/


#hd {
    width: 100%;
    height: 50px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

#hd .hd_inner {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    position: relative;
}
#hd .logo {
    width: 104px;
    height: 45px;
    float: left;
}
#hd .logo a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
#hd .lgImg {
    display: block;
    width: 104px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
}

#hd .lgImg:nth-child(1) {
    opacity: 1;
}
#hd .lgImg:nth-child(2) {
    opacity: 0;
}
#hd .lgImg:nth-child(3) {
    opacity: 0;
}

#hd .logo a.on .lgImg:nth-child(1) {
    animation: lgAni11 0.8s ease;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}
#hd .logo a.on .lgImg:nth-child(2) {
    animation: lgAni12 0.8s ease;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}
#hd .logo a.on .lgImg:nth-child(3) {
    animation: lgAni13 0.8s ease;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

    @keyframes lgAni11 {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
    @keyframes lgAni12 {
        from {
            opacity: 0;
        } 10% {
            opacity: 1;
        }50% {
            left: -1px;
        } to {
            left: 0;
            opacity: 0;
        }
    }
    @keyframes lgAni13 {
        from {
            opacity: 0;
        } 10% {
            opacity: 1;
        } 50% {
            left: 1px;
        } to {
            left: 0;
            opacity: 0;
        }
    }

#hd .iconSec {
    width: 20px;
    height: 100%;
    float: right;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 526;
}
#hd #menuOpen {
    width: 100%;
    height: 15px;
    margin-top: 17px;
    background: transparent;
}
#hd .menuLine {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 4.5px;
    background-color: #fff;
    
    transition: 0.5s;
}
#hd .menuLine:nth-child(1) {
    margin-top: 0;
}



/********************************************************/
/*******************************************************/
/*메뉴영역*/

#hd .menuBlackBg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 520;
}
#hd .menuSec {
    width: 282px;
    height: 100%;
    float: right;
    background-color: #000;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
#hd .menuSec_inner {
    width: 100%;
    height: 100%;
    padding:20px;
    box-sizing: border-box;
    position: relative;
}

#hd .menuSec_hd {
    width: 100%;
    height: 52px;
/*
    position: fixed;
    right: 0;
    top: 32;
    z-index: 524;
*/
}



/********************************************/
/*.iconSec에 .menuClose가 걸리면 - jQuery 처리*/
#hd .iconSec.menuClose {
    width: 20px;
    height: 20px;
    position: fixed;
    z-index: 526;
    right: 20px;
    top: 18px;
}
#hd .iconSec.menuClose #menuOpen {
    width: 20px;
    height: 20px;
    margin: 0;
    background: transparent;
    position: relative;
}
#hd .iconSec.menuClose .menuLine {
    display: block;
    width: 20px;
    height: 2px;
    margin:0;
    background-color: #fff;
    position: absolute;
    top: 10px;
}
#hd .iconSec.menuClose .menuLine:nth-child(2) {
    opacity: 0;
}
#hd .iconSec.menuClose .menuLine:nth-child(1) {
    transform: rotate(45deg);
    left: 0;
}
#hd .iconSec.menuClose .menuLine:nth-child(3) {
    transform: rotate(-45deg);
    right: 0;
}

/* .menuSec .iconSec 끝*/
/********************************************/



/********************************************/
/* 메뉴 영역 오픈 & 클로즈 제이쿼리 */

#hd .menuBlackBg {
    display: none;
    right: -100%;
    transition : 0.8s;
}
/* 제이쿼리 - .fadeIn(); */

#hd .menuBlackBg.toggleOpen {
    right: 0;
}
/* 제이쿼리 - .toggleClass("toggleOpen"); */


/********************************************/



#hd .searchSec {
    width: 100%;
    height: 22px;
    padding-top: 30px;
}
#hd #searchBtn {
    width: 20px;
    height: 20px;
    float: right;
    background-color: transparent;
    background-image: url("../images/ico_search.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center
}
#hd .searchForm {
    overflow: hidden;
    width: 0px;
    height: 22px;
    float: left;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
}
#hd .searchInput {
    width: 100%;
    height: 100%;
    border:0;
    background-color: transparent;
}


/******************************************/
/* .searchForm에 .on 클래스가 걸리면 - jQuery 처리 */
#hd .searchForm.on {
    width: 202px;
}
/******************************************/


#hd .menuSec_con {
    width: 100%;
    height: 544px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#hd .menuSec_con ul {
    width: 100%;
    height: 100px;
    position: relative;
}
#hd .menuSec_con .menu {
    width: 100%;
    height: 42px;
    clear: both;
}



#hd .menuSec_con .mainMenu {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14pt;
    letter-spacing: -3px;
    line-height: 42px;    
}
#hd .menuSec_con .mainMenuLine {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    clear: both;
}

#hd .menuSec_con .subMenuSec {
    width: 132px;
    height: auto;
    float: right;
}
/*
#hd .menuSec_con .menu:nth-child(1) .subMenuSec {
    margin-top: -10px;
}
*/
#hd .menuSec_con .subMenu {
    width: 100%;
    height: auto;
}
#hd .menuSec_con .subMenu a {
    display: block;
    width: 100%;
    height: 42px;
}
#hd .menuSec_con .subMenu > ul {
    display: block;
    width: 100%;
    height: auto;
    clear: both;
    position: relative;
}
#hd .menuSec_con .subMenu > ul:after {
    content: " ";
    display: block;
    width: 0;
    overflow: hidden;
    height: 1px;
    clear: both;
    background-color: #888;
    
    transition: 0.5s;
}

#hd .menuSec_con .subMenuTxt {
    display: block;
    width: 120px;
    height: 100%;
    float: left;
    font-size: 14px;
    line-height: 42px;
    transition: 0.5s;
}
#hd .menuSec_con .menu:nth-child(3) .subMenuTxt {
    line-height: 20px;
}
#hd .menuSec_con .subMenuIco {
    display: block;
    width: 12px;
    height: 12px;
    margin-top: 15px;
    float: right;
    position: relative;
}
#hd .menuSec_con .subIcoLine {
    display: block;
    width: 12px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    transition: 0.5s;
}
#hd .menuSec_con .subIcoLine:nth-child(1) {
    top: 5.5px;
    left: 0;
}
#hd .menuSec_con .subIcoLine:nth-child(2) {
    transform: rotate(90deg);
    top:5.5px;
    left:0;
}

#hd .menuSec_con .detailMenuSec {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: none;
    clear: both;
}
#hd .menuSec_con .detailMenu {
    width: 100%;
    height: 23px;
    padding-top: 12px;
    clear: both;
}
#hd .menuSec_con .detailMenu:nth-child(1) {
    padding-top: 0;
}
#hd .menuSec_con .detailMenu a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 23px;
    text-indent: 12px;
}
#hd .menuSec_con .menu:nth-child(3) .subMenuTxt {
    line-height: 
}



/******************************/

/* 메인메뉴 선택시 제이쿼리 */

#hd .menuSec_con .menu.select .mainMenu {
    display: block;
    width: 110px;
    float: left;
    height: 100%;
    font-size: 12pt;
    letter-spacing: 1px;
    line-height: 42px;   
    font-weight: bold;
}
#hd .menuSec_con .menu:nth-child(3).select .mainMenu {
    line-height: 20px;    
}

/*제이쿼리 적용 전 상태 - 적용 후: slideDown();*/
#hd .menuSec_con .subMenuSec {
    display: none;
}

#hd .menuSec_con .subMenu > ul.select .subIcoLine:nth-child(1) {
    top: 5.5px;
    left: 0;
    opacity: 0;
}
#hd .menuSec_con .subMenu > ul.select .subIcoLine:nth-child(2) {
    transform: rotate(0deg);
    top:5.5px;
    left:0;
}

#hd .menuSec_con .subMenu > ul.select .subMenuTxt {
    font-weight: bold;
}
#hd .menuSec_con .subMenu > ul.select:after {
    width: 100%;
}


/****************************/



/* 메뉴 풋터 영역 ****************/

#hd .menuSec_ft {
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
}
#hd .menuSec_ft ul {
    width: 100%;
    height: 100%;
    position: relative;
}
#hd .menuSec_ft .menuFtFrame {
    display: block;
    width: 50%;
    height: 100%;
    float: left;
}
#hd .menuSec_ft .mFtBtn {
    display: block;
    font-size: 12pt;
    text-align: center;
    line-height: 0px;
    padding-bottom: 6px;
    box-sizing: border-box;
}
#hd .menuSec_ft .mFtBtn.email {
    font-size: 11pt;
    text-indent: -30px;
}